<div *ngIf="!(isLoading$ | async) && pagedResponse">

  <div *ngFor="let question of this.pagedResponse.items">
    <div *ngIf="isJson(question.questionJson)">
      <!-- <pre>{{ question.questionJson | json }}</pre> -->
      <!-- <div>{{getSingleSelectResponse(question.questionJson).Id}}</div> -->
      <ng-container *ngComponentOutlet="componentMap[question.type]; injector: dynamicInjector">
      </ng-container>

    </div>
    <div class="flex justify-between items-center my-6">
      <p-button icon="pi pi-arrow-left" [disabled]="!pagedResponse.hasPreviousPage" label="Previous" [rounded]="true"
        (click)="moveToQuestion(this.paginationModel.pageNumber - 1)" severity="secondary" styleClass="min-w-40" />

      <p-button icon="pi pi-arrow-right" [disabled]="!pagedResponse.hasNextPage" label="Next" [rounded]="true"
        (click)="moveToQuestion(this.paginationModel.pageNumber + 1)" severity="secondary" styleClass="min-w-40"
        iconPos="right" />
    </div>
  </div>
</div>

<div *ngIf="this.isLoading$ | async" class="flex items-center justify-center h-[calc(100vh-6rem)]">
  <p-progress-spinner ariaLabel="loading" />
</div>