<div>
  <div class="homepage-gradient">
      <h1>
        <span class="font-light block">Discover</span>
        public collections
      </h1>
  </div>
</div>


<div class="quiz-collection-container" *ngIf="pagedResponse$ | async as response; else loading">


  <div class="quiz-collection-grid">
    <p-card *ngFor="let item of response.items" header="{{ item.id }}" subheader="{{ item.code }}">
      <ng-template pTemplate="content">
        <p>{{ item.name }}</p>
      </ng-template>
    </p-card>
  </div>
  
  <h3>Page {{ response.pageNumber }} of {{ response.totalPages }}</h3>
  <div>
    <p-button [disabled]="!response.hasPreviousPage" label="Previous" (onClick)="previousPage()"/>
    <p-button [disabled]="!response.hasNextPage" label="Next" (onClick)="nextPage()"/>
  </div>
  
  <p>Total items: {{ response.totalCount }}</p>
</div>
  
<ng-template #loading>
  <p>Loading...</p>
</ng-template>

  